* {
    padding: 0px;
    margin: 0px;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    width: 100%;
    height: 60px;
    border: 2px solid rgb(126, 125, 125);
}

.container-ul {
    list-style: none;
}

li {
    list-style: none;
}

.nav {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: large;
}
.nav:hover{
    font-size: 25px;
    color: rgb(102, 69, 69);
    transition: 2s;
}

.nav1 {
    font-size: 20px;
    color: black;
    border: 1px solid grey;
    display: flex;
    list-style: none;
    text-decoration: none;
    height: 2rem;
    border-radius: 25px;
    width: 8%;
    top: 2rem;
    background-color: aliceblue;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.nav1:hover {
    background-color: black;
    color: white;
}